:root {
  --main-linen: #fef9e9;
  --main-grey: #3b3c3c;
  --main-pink: #fcd4cc;
  --main-orange: #fec995;
  --main-green: #cee4cd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Quache";
  src: url("../fonts/Quache-BoldExp_PERSONAL.ttf");
  font-family: "Schnebel";
  src: url("../fonts/Schnebel-Sans-Pro.ttf");
  font-family: "Schnebel-bold";
  src: url("../fonts/Schnebel-Sans-Pro-Bold.ttf");
}

body {
  font-family: "Schnebel", Helvetica, sans-serif;
  color: var(--main-grey);
  background: var(--main-linen);
}

p {
  line-height: 1.6;
}

hr {
  width: 60%;
}

.bold {
  font-family: "Schnebel-bold";
}

.underline {
  text-decoration: underline;
}

/* Header */

#header {
  width: 100vw;
  height: 6rem;
  background-color: var(--main-linen);
  border-bottom: 1px solid var(--main-pink);
  position: fixed;
  z-index: 1000;
  top: 0;
}

.site-nav {
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav .logo {
  max-height: 4rem;
  margin: 1rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-list li {
  font-size: 1.2rem;
  padding: .5rem 1rem;
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
  color: var(--main-grey);
}

.nav-list li a:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  #header {
    height: 5rem;
  }

  .site-nav .logo {
    max-height: 3.5rem;
  }

  .nav-list {
    display: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    transition: display all 400ms ease-in-out 1s;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-linen);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--main-grey);
    z-index: 1000;
    right: 0;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: var(--main-grey);
    padding: 12px 16px;
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
    /* text-shadow: 2px 2px var(--main-pink); */
  }

  .dropdown-content a:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  #header {
    height: 4rem;
  }

  .site-nav .logo {
    max-height: 3rem;
  }

  .nav-list {
    display: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    transition: display all 400ms ease-in-out 1s;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-linen);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--main-grey);
    z-index: 1;
    right: 0;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: var(--main-grey);
    padding: 12px 16px;
    font-size: 1rem;
    text-decoration: none;
    display: block;
    /* text-shadow: 2px 2px var(--main-pink); */
  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: block;
  }
}

@media only screen and (min-width: 1025px) {
  .dropdown {
    display: none;
  }
}

/* Main */

main {
  width: 100vw;
  margin: auto;
}

/* Homepage */
/* Hero section */

.hero {
  margin: 6rem auto 0;
  height: 600px;
  width: 100%;
  background-image: url("../images/DSCF3055.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.hero .title {
  color: var(--main-linen);
  text-shadow: 2px 2px var(--main-grey);
  padding: 2rem;
  display: flex;
  justify-content: center;
  display: none;
}

#dino-kit-pic {
  display: none;
}

.hero .big-screen {
  font-size: 4rem;
  color: var(--main-linen);
  padding: 2rem;
  text-shadow: 2px 2px var(--main-green);
  display: flex;
  justify-content: center;
  text-align: center;
  display: block;
}

.hero .mobile {
  font-size: 1.5rem;
  line-height: 1.3;
  padding: 2rem;
  text-align: center;
  display: none;
}

#shop-button {
  width: 15rem;
  margin: 2rem auto;
  padding: 1rem;
  border: none;
  color: var(--main-grey);
  background-color: var(--main-green);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

#shop-button:hover {
  cursor: pointer;
  color: var(--main-grey);
  background-color: var(--main-pink);
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .hero {
    margin: 5rem auto 3rem;
    height: 400px;
    background-size: contain;
    background-position: center top;
  }

  .hero .big-screen {
    font-size: 3.5rem;
    padding: 1.5rem;
  }

  #shop-button {
    width: 12rem;
    margin: 2rem auto;
    padding: 0.8rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 480px) {
  .hero {
    margin: 3rem auto 2rem;
    max-width: 100%;
    height: auto;
    background-image: none;
  }

  .hero .big-screen {
    display: none;
  }

  .hero .mobile {
    display: block;
    padding-bottom: 0;
  }

  #dino-kit-pic {
    display: block;
  }

  #shop-button {
    width: 10rem;
    margin: 1rem auto 0;
    padding: 0.7rem;
    font-size: 1rem;
  }
}

/* Intro section */

#intro {
  margin: 5rem auto 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.about {
  border: 3px solid var(--main-green);
  width: 80%;
  height: auto;
  padding: 3rem;
  display: flex;
  flex-direction: row;
}

.about-img-container {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img-container img {
  max-height: 500px;
}

.intro-text {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-text h2 {
  font-size: 2rem;
  padding-left: 1rem;
  display: flex;
  justify-content: left;
}

.intro-text p {
  font-size: 1.2rem;
  padding: 1rem;
  display: flex;
  justify-content: left;
}

.button {
  margin-left: 1rem;
  margin-top: 1rem;
}

.read-more {
  font-size: 1.1rem;
  padding: 0.7rem;
  border: none;
  background-color: var(--main-green);
  color: var(--main-grey);
}

.read-more:hover {
  cursor: pointer;
  background-color: var(--main-pink);
  color: var(--main-grey);
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  #intro {
    width: 100%;
    margin: 1rem auto;
  }

  .about {
    width: 90%;
    height: auto;
    padding: 2rem;
    flex-direction: row;
  }

  .about-img-container img {
    max-height: 350px;
  }

  .intro-text {
    padding: 0;
  }

  .intro-text h2 {
    font-size: 1.5rem;
    padding-left: 0.5rem;
  }

  .intro-text p {
    font-size: 1.1rem;
    padding: 0.5rem;
  }

  .button {
    margin-left: 0;
    padding: 0.5rem;
  }

  .read-more {
    font-size: 1rem;
    padding: 0.6rem;
  }
}

@media only screen and (max-width: 480px) {
  #intro {
    max-width: 90%;
    height: auto;
    margin: 0 auto;
  }

  .about {
    border: 3px solid var(--main-green);
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about img {
    max-width: 100%;
  }

  .intro-text {
    width: 100%;
    padding: 0 0.5rem;
    margin: 0;
  }

  .intro-text h2 {
    font-size: 1.3rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .intro-text p {
    width: 100%;
    font-size: 1rem;
    padding: 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: left;
  }

  .button {
    margin: 1rem auto 0;
  }

  .read-more {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}

/* Photos section */

#photos {
  margin: 0 auto 4rem;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}

.all-pics {
  display: flex;
  flex-direction: column;
}

.all-pics .pics {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.all-pics .pics img {
  width: 45%;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  #photos {
    max-width: 1000px;
    padding: 1rem 1.5rem 0;
  }

  .all-pics {
    margin: 0 5%;
  }

  .all-pics .pics {
    margin-top: 1rem;
  }

  .pics img {
    width: 48%;
  }
}

@media only screen and (max-width: 480px) {
  #photos {
    margin: 0 auto;
    padding: 1rem;
  }

  .all-pics {
    margin: 0 5%;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .all-pics .pics {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .pics img {
    min-width: 100%;
    margin: 0.5rem 0;
  }
}

/* Benefits section */

#benefits {
  background-color: var(--main-green);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#benefits h2 {
  font-size: 2rem;
  line-height: 1.2;
  padding: 4rem 0 0;
  text-align: center;
}

.sensory-benefits {
  margin: auto;
  padding: 2rem 14rem;
  width: 90%;
}

.sensory-benefits h3 {
  font-size: 1.5rem;
  text-align: left;
  margin: 1rem auto 0.2rem;
}

.sensory-benefits p {
  font-size: 1.2rem;
  padding-left: 1.75rem;
  align-items: center;
}

.sensory-benefits p:nth-of-type(5),
.sensory-benefits p:nth-of-type(6),
.sensory-benefits p:nth-of-type(7) {
  padding-left: 5rem;
  margin-bottom: 0.3rem;
}

.sensory-benefits i {
  vertical-align: middle;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  #benefits {
    min-width: 80%;
    max-width: 100%;
  }

  #benefits h2 {
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 2rem;
  }

  .sensory-benefits {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 5rem 2rem;
  }

  .sensory-benefits h3 {
    font-size: 1.3rem;
    text-align: left;
    margin: 0.8rem auto 0.2rem;
    padding: 0;
  }

  .sensory-benefits p {
    font-size: 1.1rem;
    padding-left: 1.5rem;
  }

  .sensory-benefits p:nth-of-type(5),
  .sensory-benefits p:nth-of-type(6),
  .sensory-benefits p:nth-of-type(7) {
    padding-left: 4rem;
    margin-bottom: 0.3rem;
  }
}

@media only screen and (max-width: 480px) {
  #benefits {
    min-width: 80%;
    max-width: 100%;
  }

  #benefits h2 {
    font-size: 1.3rem;
    line-height: 1.3;
    padding: 1rem;
  }

  .sensory-benefits {
    width: 100%;
    padding: 0 1rem 1rem;
  }

  .sensory-benefits h3 {
    font-size: 1.1rem;
    text-align: left;
    margin: 0.6rem auto 0.2rem;
    padding: 0;
  }

  .sensory-benefits p {
    font-size: 1rem;
    padding: 0 1.25rem;
  }

  .sensory-benefits p:nth-of-type(5),
  .sensory-benefits p:nth-of-type(6),
  .sensory-benefits p:nth-of-type(7) {
    padding-left: 3rem;
    margin: 0 auto 0.2rem;
  }
}

/* Contact section */

#contact {
  width: 70%;
  padding: 1rem;
  margin: auto;
  font-size: 1rem;
  color: var(--main-grey);
}

#contact h2 {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 1rem;
  flex-wrap: wrap;
  color: var(--main-grey);
}

.contact-details {
  padding: 1rem;
  font-size: 1.5rem;
}

.contact-details:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  #contact {
    width: 85%;
    padding: 0;
    font-size: 1.1rem;
  }

  #contact h2 {
    font-size: 1.5rem;
    padding: 2rem 0 0;
  }

  .contact-details {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 480px) {
  #contact {
    width: 100%;
    padding: 1rem;
    margin: auto;
    font-size: 1rem;
  }

  #contact h2 {
    font-size: 1.3rem;
    padding: 0 1rem 1rem;
  }

  .contact-links {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }

  .contact-details {
    font-size: 1.2rem;
    padding: .5rem;
    text-align: center;
  }
}

/* Footer */

footer {
  width: 100%;
  height: 4rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--main-pink);
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  footer {
    height: 3.5rem;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 480px) {
  footer {
    height: 3rem;
  }
}

/* Products page */

/* Our Products section */

#products {
  margin: 6rem auto 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#products h1 {
  margin: 3rem;
  padding-left: 8rem;
  font-size: 2.2rem;
}

#products h2 {
  margin: 1rem 0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.playdough-kits,
.playdough-balls,
.playdough-adds-on {
  height: auto;
  display: flex;
  flex-direction: row;
}

.playdough-kits-img-container {
  position: relative;
  width: 50%;
  height: auto;
  display: block;
  margin: 0;
  overflow: hidden;
}

.mermaid-pic {
  height: 100%;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.playdough-kits-txt,
.playdough-balls-txt,
.playdough-adds-on-txt {
  background-color: var(--main-green);
  width: 50%;
  height: auto;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playdough-balls-txt {
  background-color: var(--main-pink);
}

.playdough-adds-on-txt {
  background-color: var(--main-orange);
}

.playdough-kits-txt p,
.playdough-balls-txt p,
.playdough-adds-on-txt p {
  font-size: 1.2rem;
  padding: 1rem 3rem;
}

#products figure {
  width: 50%;
}

.coming-soon {
  width: auto;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  #products {
    margin: 5rem auto 0;
  }

  #products h1 {
    margin: 2rem;
    padding-left: 2rem;
    font-size: 1.8rem;
  }

  #products h2 {
    margin: 0;
    padding: 1rem 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
  }

  .playdough-kits-txt,
  .playdough-balls-txt,
  .playdough-adds-on-txt {
    width: 50%;
    padding: 1rem;
  }

  .playdough-kits-txt p,
  .playdough-balls-txt p,
  .playdough-adds-on-txt p {
    font-size: 1.1rem;
    padding: 1rem;
  }

  #products figure {
    width: 50%;
  }

  .coming-soon {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  #products {
    margin: 4rem auto 0;
  }

  #products h1 {
    margin: 2rem auto;
    padding: 0;
    font-size: 1.5rem;
  }

  #products h2 {
    margin: 0;
    padding: 1rem 0;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
  }

  .playdough-kits-txt,
  .playdough-balls-txt,
  .playdough-adds-on-txt {
    padding: 1rem;
  }

  .playdough-kits,
  .playdough-adds-on {
    flex-direction: column;
  }

  .playdough-balls {
    flex-direction: column-reverse;
  }

  .playdough-kits-img-container,
  .playdough-kits-txt,
  .playdough-balls-txt,
  .playdough-balls-img-container,
  .playdough-adds-on-txt,
  .playdough-adds-on-img-container {
    width: 100%;
  }

  .playdough-kits-txt p,
  .playdough-balls-txt p,
  .playdough-adds-on-txt p {
    font-size: 1rem;
    padding: .5rem;
  }

  .playdough-kits-img-container {
    position: relative;
    height: 300px;
  }

  .mermaid-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  #products figure {
    width: 100%;
  }

  .coming-soon {
    width: 100%;
  }
}

/* Our Services page */

#services {
  margin: 6rem auto 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#services h1 {
  margin: 3rem;
  padding-left: 8rem;
  font-size: 2.2rem;
}

#services h2 {
  margin: 1rem 0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.party-favors,
.baby-shower,
.subscription-service,
.party-decor {
  height: auto;
  display: flex;
  flex-direction: row;
}

.party-favors-img-container {
  position: relative;
  width: 50%;
  height: auto;
  display: block;
  margin: 0;
  overflow: hidden;
}

.construction-kits-img {
  height: 100%;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.party-favors-txt,
.baby-shower-txt,
.subscription-service-txt,
.party-decor-txt {
  background-color: var(--main-green);
  width: 50%;
  height: auto;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.baby-shower-txt {
  background-color: var(--main-pink);
}

.subscription-service-txt {
  background-color: var(--main-orange);
}

.party-decor-txt {
  background-color: var(--main-green);
}

.party-favors-txt p,
.baby-shower-txt p,
.subscription-service-txt p,
.party-decor-txt p {
  font-size: 1.2rem;
  padding: 1rem 3rem;
}

.bold {
  font-family: "Schnebel-bold";
}

.services figure {
  width: 50%;
}

.coming-soon {
  width: auto;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  #services {
    margin: 5rem auto 0;
  }

  #services h1 {
    margin: 2rem;
    padding-left: 2rem;
    font-size: 1.8rem;
  }

  #services h2 {
    margin: 0;
    padding: 1rem 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .party-favors-txt,
  .baby-shower-txt,
  .subscription-service-txt,
  .party-decor-txt {
    width: 50%;
    padding: 1rem;
  }

  .party-favors-txt p,
  .baby-shower-txt p,
  .subscription-service-txt p,
  .party-decor-txt p {
    font-size: 1.1rem;
    padding: 1rem;
  }

  .services figure {
    width: 50%;
  }

  .coming-soon {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  #services {
    margin: 4rem auto 0;
  }

  #services h1 {
    margin: 2rem auto;
    padding: 0;
    font-size: 1.5rem;
  }

  #services h2 {
    margin: 0;
    padding: 1rem 0;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
  }

  .party-favors,
  .subscription-service {
    flex-direction: column;
  }

  .baby-shower,
  .party-decor {
    flex-direction: column-reverse;
  }

  .party-favors-txt,
  .baby-shower-txt,
  .subscription-service-txt,
  .party-decor-txt {
    width: 100%;
    padding: 1rem;
  }

  .party-favors-txt p,
  .baby-shower-txt p,
  .subscription-service-txt p,
  .party-decor-txt p {
    font-size: 1rem;
    padding: .5rem;
  }

  .party-favors-img-container {
    position: relative;
    height: 300px;
  }

  .construction-kits-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  .services figure {
    width: 100%;
  }

  .coming-soon {
    width: 100%;
  }
}

/* Mom-Life Adventures page */

#sensory-benefits {
  margin: 6rem auto 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#sensory-benefits h1 {
  margin: 3rem;
  padding-left: 8rem;
  font-size: 2.2rem;
}

.sensory-benefits-txt {
  margin: auto;
  padding: 1rem 12rem;
  width: 100%;
  background-color: var(--main-green);
}

.sensory-benefits-txt h2 {
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  padding: 2rem;
}

.sensory-benefits-txt h3 {
  font-size: 1.6rem;
  text-align: left;
  padding: 0 3rem;
}

.sensory-benefits-txt p {
  font-size: 1.2rem;
  text-align: left;
  margin: 0.5rem auto 2rem;
  padding: 0 3rem;
  display: flex;
  flex-wrap: wrap;
}

.sensory-benefits-txt p:nth-of-type(6),
.sensory-benefits-txt p:nth-of-type(7) {
  margin-bottom: 1rem;
}

.sensory-benefits-txt p:last-child {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

#sensory-benefits span {
  padding-right: .5rem;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  #sensory-benefits {
    margin: 5rem auto 0;
  }

  #sensory-benefits h1 {
    font-size: 1.8rem;
    padding-left: 2rem;
    margin: 2rem;
  }

  .sensory-benefits-txt {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
  }

  .sensory-benefits-txt h2 {
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 2rem;
  }

  .sensory-benefits-txt h3 {
    font-size: 1.2rem;
    padding: 0 3rem;
  }

  .sensory-benefits-txt p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    padding: 0 3rem;
  }

  .sensory-benefits-txt p:nth-of-type(6),
  .sensory-benefits-txt p:nth-of-type(7) {
    margin-bottom: 0.5rem;
  }

  .sensory-benefits-txt p:last-child {
    margin-bottom: 0;
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  #sensory-benefits {
    margin: 4rem auto 0;
  }

  #sensory-benefits h1 {
    font-size: 1.5rem;
    padding: 0;
    margin: 2rem auto;
  }

  .sensory-benefits-txt {
    width: 100%;
    padding: 0;
  }

  .sensory-benefits-txt h2 {
    font-size: 1.3rem;
    line-height: 1.3;
    padding: 1rem;
  }

  .sensory-benefits-txt h3 {
    font-size: 1.1rem;
    padding: 0 2rem;
  }

  .sensory-benefits-txt p {
    font-size: 1rem;
    padding: 0 2rem;
  }

  .sensory-benefits-txt p:nth-of-type(6),
  .sensory-benefits-txt p:nth-of-type(7) {
    margin: 0 auto 0.5rem;
  }

  .sensory-benefits-txt p:last-child {
    margin-bottom: 0;
    padding-bottom: 1rem;
  }
}

/* About Us page */

/* About Us section */

#about-us {
  margin: 6rem auto 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#about-us h1 {
  margin: 3rem;
  padding-left: 8rem;
  font-size: 2.2rem;
}

.about-us-img-container {
  margin: 0 auto 3rem;
}

#about-us .chloe-boys {
  max-width: 500px;
  margin: 0;
  padding: 0;
}

.origin-article {
  width: 100%;
  margin: auto;
  padding: 2rem;
  background-color: var(--main-green);
}

.origin-article h2 {
  padding: 1rem;
  font-size: 2rem;
  line-height: 1.2;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.origin-article p {
  width: 80%;
  margin: auto;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  display: flex;
  justify-content: left;
}

/* Beginning section */

#beginning {
  width: 100%;
  height: auto;
}

.beginning-article {
  width: 100%;
  margin: auto;
  padding: 2rem;
}

.beginning-article h2 {
  padding: 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.beginning-article p {
  width: 80%;
  font-size: 1.2rem;
  margin: auto;
  padding: 1rem 3rem;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  #about-us {
    margin: 5rem auto 0;
  }

  #about-us h1 {
    font-size: 1.8rem;
    padding-left: 2rem;
    margin: 2rem;
  }

  .about-us-img-container {
    margin-bottom: 2rem;
  }

  #about-us .chloe-boys {
    max-width: 400px;
    margin: auto;
  }

  .origin-article {
    padding: 1rem;
  }

  .origin-article h2 {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .origin-article p {
    font-size: 1.1rem;
    padding: 1rem;
    width: 90%;
  }

  .beginning-article {
    width: 100%;
    padding: 1rem;
  }

  .beginning-article h2 {
    font-size: 1.5rem;
  }

  .beginning-article p {
    width: 90%;
    font-size: 1.1rem;
    padding: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  #about-us {
    margin: 4rem auto 0;
  }

  #about-us h1 {
    font-size: 1.5rem;
    padding: 0;
    margin: 2rem auto;
  }

  .about-us-img-container {
    background-color: var(--main-green);
    margin-bottom: 0;
  }

  #about-us .chloe-boys {
    max-width: 100%;
  }

  .origin-article {
    padding: 1rem;
  }

  .origin-article h2 {
    font-size: 1.3rem;
    padding: .5rem;
  }

  .origin-article p {
    font-size: 1rem;
    padding: .5rem;
    width: 100%;
  }

  .beginning-article {
    width: 100%;
    padding: 1rem;
  }

  .beginning-article h2 {
    font-size: 1.3rem;
  }

  .beginning-article p {
    width: 100%;
    font-size: 1rem;
    padding: .5rem;
    margin: 0 auto;
  }
}